.modal .modal-content{
    height: 600px;
}

.modal-content .footer  {
 display: flex;
 justify-content: flex-end;
}

.modal-content .footer-delete{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;  
}

.modal-content .footer button,
.modal-content .footer-delete button {
    margin-right: 1rem;
}