.out-img-product img{
    width: 100%;
    height: auto;
}

.border-rounded{
    width: 208px;
    height: 136px;
}

form select{
    width: 150px;
    height: 30px;
    color: grey;
    margin-right: 2rem;
}

form input{
    color: grey;
}