.table-product{
    float: right;
    width: 70%;
    margin-top: 10rem;
    margin-right: 5rem;
}

.table-product .table-title{
    height: 57px;
    background: #F7F7F7; 
}

.table-product .table-title th{
    color: #222222;
    font-size: 14px;
}

.table-product .table-title th button{
    margin-left: 1rem;
}

.table-product th, .table-product td{
    vertical-align: middle;
}

.table-product .btn-primary,
.table-product .btn-secondary{
    margin-right: 0.75rem;
}