.table-product{
    float: right;
    width: 100%;
    margin-top: 2.5rem;
    margin-right:auto;
    margin-left:auto;
}

.table-product .table-title{
    height: 57px;
    background: #F7F7F7; 
}

.table-product .table-title th{
    color: #222222;
    font-size: 14px;
}

.table-product .table-title th button{
    margin-left: 1rem;
}

.table-product th, .table-product td{
    vertical-align: middle;
}

.table-product .btn-primary,
.table-product .btn-secondary{
    margin-right: 0.75rem;
}

.table-product .btn-success{
    margin-bottom: 1rem;
}

.table-product td img{
    width: 50px;
}

@media screen and (max-width: 700px) {
    .table-product {
        width: 100%;
        height: auto;
        margin: 0;
        float: none;
        position: relative;
    }

    /* .table-product td a {
        width: 20%;
        height: 20%;
    }

    .table-product td button{
        width: 20%;
        height: 20%;
    } */
}

/* @media screen and (max-width: 400px) {
    .sidebar .linked {
        text-align: center;
        float: none;
    }
} */